
    h1{
        color: red;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font: 50px;
    }
    p{
        color-scheme: rgb(165, 41, 62);
        font-family: 'Courier New', Courier, monospace;
        font-size: 25px;
        text-align: center;
    }
    #aaa {
        width: 100%;
    }    