
body{
background-color:rgba(187, 141, 233, 0.952);
    header{
        background:#aaa;
        padding:20px 0;
    }
      .caixa{
          width: 940px;
          position: relative;
          margin: 0 auto;
      }
      nav{position: absolute;
          top:110px;
          right: 0;
      }
      nav li{
        display:inline;
        margin: 0 0 0 15px;
      }
      nav a{
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
      }


}
h1{
    color: rgb(245, 12, 12);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font: 50px;
}
p{
    color: rgb(21, 190, 21);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
}
#aaa {
    width: 100%;
}








